{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Location specific Search</title>
    <link rel="icon" href="{% static 'images/Logo.png' %}" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        @media (max-width: 768px) {
            .container {
                flex-direction: column;
            }
            .w-full {
                width: 100%;
            }
            /* Add CSS to make dropdowns full-width on smaller screens */
            #countries,
            #location {
                width: 100%; /* Make the dropdowns full-width on small screens */
            }
        }
    </style>
</head>
<body class="bg-gray-100 p-4 sm:p-8">
    <div class="container mx-auto flex flex-col sm:flex-row sm:flex-wrap">
        <div class="w-full sm:w-1/2 p-4 left-column">
            <div class="flex items-center justify-between mb-4">
                <h1 class="text-2xl font-semibold">Location specific Search</h1>
                <img src="{% static 'images/Logo.png' %}" alt="Company Logo" class="h-20 w-20">
            </div>
            {{ error_message }}
            <div class="bg-white rounded-lg p-4 sm:p-8 shadow-md">
                <form id="locationForm" method="POST">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="countries" class="block text-gray-700">Select country(s)</label>
                        <select name="countries" id="countries" class="w-full lg:w-1/2 xl:w-1/3 px-4 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-500" multiple onchange="loadLocations()">
                            {% for country in countries %}
                                <option value="{{ country }}">{{ country }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="countriesMessage" style="color: red;"></div>
                    <div class="mb-4">
                        <label for="location" class="block text-gray-700">Select location(s)</label>
                        <select name="location" id="location" class="w-full lg:w-1/2 xl:w-1/3 px-4 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-500" multiple>
                            <!-- Locations will be populated dynamically using JavaScript -->
                        </select>
                    </div>
                    <div id="locationMessage" style="color: red;"></div>
                    <div class="mb-4">
                        <label>search content</label>
                        <input type="text" name="search" id="search" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-500" type="text" placeholder="Search..." aria-label="Search" required>
                    </div>
                    <div class="mb-4">
                        <label for="numResults" class="block text-gray-700">Number of Results</label>
                        <input type="number" name="num_results" id="numResults" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-500" required>
                    </div>
                    <button type="submit" class="bg-green-700 hover:bg-green-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring focus:border-green-500 w-full sm:w-auto">
                        Search
                    </button>
                    <button type="button" id="clearButton" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring focus:border-red-500 w-full sm:w-auto">
                        Reset
                    </button>
                </form>
                <div id="messageContainer" class="hidden bg-green-200 text-green-700 p-2 rounded mt-2">
                    Searching...
                </div>
                <div class="bg-white rounded-lg p-4 sm:p-8 shadow-md">
                    <h2 class="text-2xl font-semibold mb-4">Location specific Search</h2>
                    <p>DoWell UX Living Lab will search in the web by positioning our server to the selected locations.</p>
                    <h2 class="text-2xl font-semibold mt-8 mb-4">How it works</h2>
                    <p>DoWell UX Living Lab will position the web server using the latitude and longitude of each location specified by the user and execute a search based on keywords.</p>
                    <h2 class="text-2xl font-semibold mt-8 mb-4">How to use</h2>
                    <p>Search Scenario - I am selling Yogurt, I want to analyze search results in different locations for my product.</p>
                    <p><strong>Disclaimer:</strong></p>
                    <p>We do not assume responsibility for the accuracy of the results. Variations from search engine results may occur. Use information at your own discretion.</p>
                    {% comment %} <img src="https://api.visitorbadge.io/api/visitors?path=https%3A%2F%2Fgeopositioning.uxlivinglab.online%2Fapi%2F&countColor=%23263759"></img> {% endcomment %}

                    <a href="https://visitorbadge.io/status?path=https%3A%2F%2Fgeopositioning.uxlivinglab.online%2Fapi%2F"><img src="https://api.visitorbadge.io/api/visitors?path=https%3A%2F%2Fgeopositioning.uxlivinglab.online%2Fapi%2F&countColor=%23263759" /></a>
                </div>
            </div>
        </div>
        <div class="w-full sm:w-1/2 p-4 right-column">
            <!-- Search Results -->
    <div class="container mx-auto mt-8">
        <div class="flex flex-wrap border-b border-gray-300">
            {% for location_results in search_results %}
            <input type="radio" name="tabs" id="{{ location_results.city }}" class="hidden">
            <label for="{{ location_results.city }}" class="cursor-pointer flex-1 px-4 py-2 rounded-t-lg bg-gray-200 text-gray-700 hover:bg-blue-500" onclick="changeTabColor(this)">
                {{ location_results.results|length }} Search result{% if location_results.results|length != 1 %}s{% endif %} for "{{ location_results.search_content }}" in {{ location_results.city }}, {{ location_results.country }}
            </label>
            {% endfor %}
        </div>
        {% for location_results in search_results %}
        <div id="{{ location_results.city }}-content" class="tab-content hidden">
            <div class="bg-white rounded-b-lg p-4 sm:p-8 shadow-md">
                <div class="container mx-auto">
                    <div class="space-y-4 sm:space-y-8">
                        {% for result in location_results.results %}
                        <div class="border-b border-gray-300 pb-4">
                            <h2 class="text-lg font-medium">
                                <a href="{{ result.link }}" target="_blank" class="text-blue-500 hover:underline">{{ result.title }}</a>
                            </h2>
                            <p class="text-gray-600">{{ result.snippet }}</p>
                            <div class="mt-2">
                                <div class="flex flex-wrap">
                                    {% for image in result.images %}
                                    <img src="{{ image.src }}" alt="{{ result.title }}" class="w-40 h-40 sm:w-60 sm:h-60 p-2" />
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <a href="{% url 'download' %}" id="downloadCSVButton" class="block mt-4 w-full md:w-auto bg-green-500 hover:bg-green-700 text-white font-bold py-3 px-6 md:py-2 md:px-4 rounded focus:outline-none focus:ring focus:border-green-500" onclick="showDownloadSuccessMessage()">
                        Download Results
                    </a>
                    <div id="downloadMessageContainer" class="hidden bg-green-200 text-green-700 p-2 rounded mt-2">
                        Successfully downloaded search results.
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
            
        </div>
    </div>
    
    

    <script>
        function changeTabColor(selectedLabel) {
        const labels = document.querySelectorAll('label[for]');
        labels.forEach(label => {
        label.classList.remove('bg-blue-500');
        });
        selectedLabel.classList.add('bg-blue-500');
        }
        </script>
        
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        
        <!-- Include jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- Include Select2 JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
        
        <script>
            document.getElementById('locationForm').addEventListener('submit', function (e) {
                e.preventDefault(); // Prevent the default form submission
                function isURL(input) {
                    const urlPattern = /^(https?:\/\/)?([\w.]+)\.([a-z]{2,6}\.?)(\/[\w .-]*)*\/?$/i;
                    return urlPattern.test(input);
                }                
            
                const searchInput = document.getElementById('search').value;
            
                if (isURL(searchInput)) {
                    const selectedLocations = $('#location').val() || []; // Ensure it's an array
                    console.log(selectedLocations)
                    const selectedCountries = $('#countries').val();
                    const numResults = document.getElementById('numResults').value;
            
                    // Make a POST request to '/change-browser' with the search query and selected location
                    $.ajax({
                        url: '/api/launch-browser',
                        type: 'POST',
                        data: {
                            url: searchInput,
                            location: selectedLocations, // Send as an array
                            countries: selectedCountries,
                            numResults: numResults
                        },
                        success: function (response) {
                            // Handle success response if needed
                            console.log(response);
                        },
                        error: function (error) {
                            // Handle error if the request fails
                            console.error(error);
                        }
                    });
                } else {
                    // Allow the form to submit normally if it's not a URL
                    document.getElementById('messageContainer').style.display = 'block';
            
                    // Store the selected location values in local storage
                    var selectedLocations = $('#location').val();
                    localStorage.setItem('selectedLocations', JSON.stringify(selectedLocations));
            
                    // Store the selected countries in local storage
                    var selectedCountries = $('#countries').val();
                    localStorage.setItem('selectedCountries', JSON.stringify(selectedCountries));
            
                    localStorage.setItem('search', document.getElementById('search').value);
                    localStorage.setItem('numResults', document.getElementById('numResults').value);
            
                    // Proceed with form submission
                    this.submit();
                }
            });
            

            window.addEventListener('load', function() {
                // Populate the "countries" field from local storage
                var selectedCountries = JSON.parse(localStorage.getItem('selectedCountries'));

                // Set the selected values for the "countries" field
                if (selectedCountries) {
                    $('#countries').val(selectedCountries).trigger('change');
                }

                // Populate the "location" field from local storage
                var selectedLocations = JSON.parse(localStorage.getItem('selectedLocations'));

                // Set the selected values for the "location" field
                if (selectedLocations) {
                    $('#location').val(selectedLocations).trigger('change');
                }

                // Populate other form fields
                document.getElementById('search').value = localStorage.getItem('search') || '';
                document.getElementById('numResults').value = localStorage.getItem('numResults') || '';
            });

        </script>
        
        <!-- JavaScript for countries -->
        <script>
        $(document).ready(function () {
        $('#countries').select2();
        $('#location').select2();
        
        // Limit the number of selections in the "countries" dropdown to 10
        $('#countries').on('select2:select', function (e) {
        var selectedCountries = $(this).val() || [];
        if (selectedCountries.length > 10) {
        selectedCountries.pop();
        $(this).val(selectedCountries).trigger('change');
        
        // Display the message for the "countries" dropdown on the screen in red
        $('#countriesMessage').text("You can only select a maximum of 10 countries.").css('color', 'red');
        } else {
        // Clear the message and reset its color
        $('#countriesMessage').text("").css('color', 'black');
        }
        });
        
        // Limit the number of selections in the "location" dropdown to 10
        $('#location').on('select2:select', function (e) {
        var selectedLocations = $(this).val() || [];
        if (selectedLocations.length > 10) {
        selectedLocations.pop();
        $(this).val(selectedLocations).trigger('change');
        
        // Display the message for the "location" dropdown on the screen in red
        $('#locationMessage').text("You can only select a maximum of 10 locations.").css('color', 'red');
        } else {
        // Clear the message and reset its color
        $('#locationMessage').text("").css('color', 'black');
        }
        });
        });
        </script>
        
        <script>
            function loadLocations() {
                
                // Get the selected countries from the dropdown
                var selectedCountries = $('#countries').val();
                var selectedLocations = $('#location').val() || []; // Get currently selected locations
                
                // Check the number of selected countries
                if (selectedCountries.length > 10) {
                    $('#countriesMessage').text("You can only select a maximum of 10 countries.").css('color', 'red');
                    return; // Don't make an API call if more than 10 countries are selected
                }
                
                var locationDropdown = document.getElementById('location');
                locationDropdown.disabled = true;
                locationDropdown.innerHTML = '<option value="" selected disabled style="font-style: italic; color: #999;">Fetching locations...</option>';
                
                // Make an AJAX request to your backend server to fetch location data
                $.ajax({
                    url: '/api/get-locations', // Replace with your actual endpoint
                    type: 'POST',
                    data: JSON.stringify({ selectedCountries: selectedCountries }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        console.log('Data received:', data); // Add this line for debugging
                        populateLocationDropdown(data, selectedLocations);
                        locationDropdown.disabled = false;
                    },
                    error: function (error) {
                        console.log('Error:', error);
                        locationDropdown.innerHTML = '<option value="" selected disabled>Error fetching locations</option>';
                        locationDropdown.disabled = false;
                    }
                });
            }
            
        
        
        function populateLocationDropdown(locationData, selectedLocations) {
        var locationDropdown = $('#location');
        locationDropdown.empty();
        var addedLocations = [];
        
        // Iterate through each country
        for (var countryName in locationData) {
        if (locationData.hasOwnProperty(countryName)) {
        var countryData = locationData[countryName].data;
        // Iterate through the locations within each country
        countryData.forEach(function (location) {
        var locationName = location.name;
        
        if (!addedLocations.includes(locationName)) {
        locationDropdown.append($('<option>', {
        value: locationName,
        text: locationName
        }));
        addedLocations.push(locationName);
        }
        });
        }
        }
        
        locationDropdown.val(selectedLocations).trigger('change');
        }
        
        </script>
        
        
        <script>
        document.getElementById('clearButton').addEventListener('click', function (e) {
        // Clear the entire form by resetting it
        document.getElementById('locationForm').reset();
        // Clear the Select2 dropdown selection for "location"
        $('#location').empty().trigger('change');
        // Clear the Select2 dropdown selection for "countries"
        $('#countries').val(null).trigger('change');
        // Hide the message container
        document.getElementById('messageContainer').style.display = 'none';
        
        // Clear the stored values in local storage
        localStorage.removeItem('search');
        localStorage.removeItem('numResults');
        localStorage.removeItem('selectedLocations'); // Clear selected locations
        localStorage.removeItem('selectedCountries'); // Clear selected countries
        });
        
        document.getElementById('clearButton').addEventListener('click', function (e) {
        // Clear the search results by removing the entire tabs section
        const tabsSection = document.querySelector('.container.mx-auto.mt-8');
        tabsSection.parentNode.removeChild(tabsSection);
        
        // Clear the download success message
        document.getElementById('downloadMessageContainer').classList.add('hidden');
        });
        </script>
        
        <!-- JavaScript for tabbed interface -->
        <script>
        // Function to switch tabs
        function switchTab(tabId) {
        const tabs = document.querySelectorAll('.tab-content');
        tabs.forEach(tab => {
        tab.style.display = 'none';
        });
        
        const selectedTab = document.getElementById(tabId);
        if (selectedTab) {
        selectedTab.style.display = 'block';
        }
        }
        // Add click event listeners to tab labels
        {% for location_results in search_results %}
        document.getElementById('{{ location_results.city }}').addEventListener('click', function () {
        switchTab('{{ location_results.city }}-content');
        });
        {% endfor %}
        
        // Show the first tab by default
        switchTab('{{ search_results.0.city }}-content');
        </script>
        
        <!-- download success -->
        <script>
        function showDownloadSuccessMessage() {
        // Show the download success message container
        document.getElementById('downloadMessageContainer').classList.remove('hidden');
        
        // Hide the message after a few seconds (optional)
        setTimeout(function () {
        document.getElementById('downloadMessageContainer').classList.add('hidden');
        }, 3000); // Display for 3 seconds, you can adjust this duration
        }
        </script>
        </body>
        </html>
        